.container-ficha{
    width: 100%;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 70% 24%;
    grid-template-rows: auto;
    grid-template-areas: 
    "selectEst riesgos"
    "acordiones riesgos";
    gap: 20px;
}

.select-container{
    grid-area: selectEst;
}

.riesgo-container{
    grid-area: riesgos;
}

.acordion-container{
    grid-area: acordiones;
    margin-bottom: 20px;
}