.container-main{
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
    "bigC imgE"
    "bigC imgE" 
    "bigC links";
}

.container-submain {
    grid-area: bigC;
    width: 100%;
    color: #606060;
    background-color: rgba(155, 155, 155, 0.432);
    border-radius: 30px 30px 0px 30px;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "cont-basic cont-basic cont-basic cont-basic cont-basic cont-basic cont-basic"
        "cont-basic cont-basic cont-basic cont-basic cont-basic cont-basic cont-basic"
        "infoP infoP infoP infoP condicion condicion condicion"
        "profIP profIP profIP profIP otraInfo otraInfo otraInfo";
}

.container-basic {
    grid-area: cont-basic;
    width: 100%;
    display: grid; 
    gap: 10px;
    justify-items: center; 
    align-items: center;
}

.select-item {
    height: 40px;
    width: 90%;
    border-radius: 20px;
}

.basic-info {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.container-img {
    grid-area: imgE;
    border-radius: 30px;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 90%;
    border: solid rgb(255, 255, 255);
    border-radius: 30px;
}

.container-programa {
    grid-area: infoP;
}

.condicion {
    font-weight: 900;
    grid-area: condicion;
}

.info-prof-programa {
    grid-area: profIP;
}

.dimen-prog {
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    height: 25px;
    border-radius: 6px;
}

.container-otros-datos {
    grid-area: otraInfo;
    color:  #838381;
    padding-left: 30px;
    display: grid;
    grid-template-columns: auto;
}

.more-stud-info p {
    margin-top: 0; /* Elimina el espacio encima de los párrafos */
    margin-bottom: -1em; /* Reduce el espacio debajo de los párrafos */
    line-height: 2.2; /* Restaura la altura de línea a un valor normal */
}

.links {
    grid-area: links;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(155, 155, 155, 0.432);
    /* box-shadow: -10px 0 -10px rgba(0,0,0,0.5); */
    border-radius: 0px 30px 30px 0px;
}

.link{
    text-decoration: none;
    background-color: transparent;
    color:  #838381;
    border: 1px solid #838381; 
    border-radius: 10px;
    height: 40px;
    line-height: 20px;
    margin-bottom: 5px;
}

.link:hover {
    background-color: #838381;
    color: white;
}

.info-programas {
    grid-area: info-programas;
}

.title-prog {
    font-weight: 900;
    font-size: 15px;
}

.short-info-programa {
    color: white;
    font-size: 12px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
}

.egresado {
    background-color: #1ec3c5;
}

.encurso {
    background-color: #41af1c;
}

.desertor {
    background-color: #838381;
}