.academico_container{
    border: 1px solid #f5f5f5;
    background: white;
}

.academico_seguimientos_pares{
    background: #f5f5f5;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.academico_fondo{
  background: #f5f5f5;
  border-radius: 15px;
  margin-top: 15px;
  padding: 10px;
  justify-content: center;
}

.pestañas{
  background: #fff;
  margin-bottom: 0;
  border: 0;
  height: 30px;
}



.nav-item button{
  font-weight: 600;
  color:rgb(164, 164, 164);
}

.nav-item button:hover{
  font-weight: 1000;
  color: rgb(179, 179, 179);
}

.nav-link{
  text-decoration: true;
}



.contenido-pestaña{
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #fff;
  border: 1px solid #D8D8D8;
}


th.titulo_tabla_resumen{
  background-color: #ffa4a4;
  border-width: 2px;
  border-color: black;
}

td.contenido_tabla_resumen{
  background-color: #D8D8D8;
  border-width: 2px;
  border-color: black;
  border-color: black;
}

.search-bar-academico{
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search-bar-academico:focus{
  background: #f6f6f6;
  box-shadow: none;
  font-weight: bold;
  border: 3px solid #D8D8D8;
}


.search-bar svg{
  margin: 15px;
  background: #D8D8D8;
  outline: 15.5px solid #D8D8D8;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.contenedor-reportes{
  padding-top: 50px;
  padding-bottom: 50px;
}

.acordion-academico{
  position: relative;
  margin: 0;
  padding: 0;
}


    .academico_deplegable{
    padding-bottom: 5px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
  }
  .academico_deplegable.plain{
    text-decoration: none;
  }
  .academico_deplegable.plain:hover{
    text-decoration: underline;
  }
  .academico_deplegable.plain i{
    display: inline-block;
  }
  .academico_deplegable.open > .fichas-title .toggle-btn-fichas{
    transform: rotate(180deg);
  }
  .academico_deplegable.open > .academico_deplegable_contenido{
    height: auto;
  }


  .academico_deplegable_seleccionar{
    border-top: 2px solid #D8D8D8;
    border-left: 2px solid #D8D8D8;
    border-right: 2px solid #D8D8D8;
    background: white;
    color: black;
    transition: all 1.5s;
}

.academico_deplegable_seleccionar_text{
    border: 1px solid lightgray;
    background: white;
}

.academico_deplegable_seleccionar_hover{
    background:  lightgray;
    display: flex;
    height: 5vh;
}
.academico_deplegable_seleccionar_hover:hover{
    background: red;
}

.col_academico_deplegable_seleccionar_text{
    padding-left: 10px;
    font-size: 3vh;
    font-weight: bold;
}

.academico_deplegable_contenido{
    height: 0px;
    overflow: hidden;
    justify-content: center;
  }
















  