.academico_container{
    border: 1px solid #f5f5f5;
    background: white;
}

.academico_seguimientos_pares{
    background: #f5f5f5;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.academico_fondo{
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
}


    .academico_deplegable{
    padding-bottom: 5px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
  }
  .academico_deplegable.plain{
    text-decoration: none;
  }
  .academico_deplegable.plain:hover{
    text-decoration: underline;
  }
  .academico_deplegable.plain i{
    display: inline-block;
  }
  .academico_deplegable.open > .fichas-title .toggle-btn-fichas{
    transform: rotate(180deg);
  }
  .academico_deplegable.open > .academico_deplegable_contenido{
    height: auto;
  }


  .academico_deplegable_seleccionar{
    border-top: 2px solid #D8D8D8;
    border-left: 2px solid #D8D8D8;
    border-right: 2px solid #D8D8D8;
    background: white;
    color: black;
    transition: all 1.5s;
}

.academico_deplegable_seleccionar_text{
    border: 1px solid lightgray;
    background: white;
}

.academico_deplegable_seleccionar_hover{
    background:  lightgray;
    display: flex;
    height: 5vh;
}
.academico_deplegable_seleccionar_hover:hover{
    background: red;
}

.col_academico_deplegable_seleccionar_text{
    padding-left: 10px;
    font-size: 3vh;
    font-weight: bold;
}

.academico_deplegable_contenido{
    height: 0px;
    overflow: hidden;
    justify-content: center;
  }















  