
# Ignorar archivos de basura 
*~
*.tgz
*.tar.gz
*.DS_Store
nbproject/*
.scannerwork
sonar-project.properties

# General
.pytest_cache/
**/__pycache__/
*.pyc
*.pyc
*.pyo
*.pyd
__pycache__
*.egg-info/
dist/
build/
.vscode/
.vscode-server/
back-end/modulo_correos/*.json

# Environment
venv/
env/
ENV/
entornoBack/
.env
.htaccess
front-end/.env

# Node.js
/front-end/node_modules/

# Static Files
front-end/build/
back-end/staticfiles

# Tests
back-end/tests/__pycache__/
front-end/htmlcov/
tests/e2e/
# Personal Docker
Dockerfile
docker-compose.yml
deploy.sh
.github/workflows/docker-build.yml
