<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cambio de Contraseña</title>
  </head>
  <body>
    <h2 style="color: #000000">Cambio de Contraseña Solicitado</h2>
    <p style="color: #000000">
      Estimado/a {{nombre}} {{apellido}}, se ha solicitado un cambio de
      contraseña en la fecha: {{fecha_actual}} para su cuenta en el Sistema de
      Información ASES. Sus datos de acceso son los siguientes:
      <br />
      <label style="font-weight: 800">usuario:</label> {{usuario}} <br />

      <label style="font-weight: 800">contraseña:</label> {{password}} <br />
      Por favor, Recuerde cambiar la contraseña por una qué sea de su
      preferencia.
    </p>

    <br />
    <p style="color: #000000">
      <br />Si usted no ha solicitado este cambio, por favor comuníquese con el
      administrador del sistema para reportar este incidente usando el correo:
      {{correo_admin}}.
    </p>
  </body>
</html>
