

.containerSidebar{
    display: flex;
    
}

main{
    margin-top: 100px;
    width: 100%;
    padding-left: 20px;
}

.sideBar{
    z-index: 2;
    position: fixed;
    background: #F1F1F1;
    color: black;
    height: 100%;
}

.top_selection{
    height: 4rem;
    width: 70px;
    background: #020826;
    color: #F1F1F1;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    margin-bottom:30px;
}

.logo{
    font-size: 30px;
}

.bars{
    display: flex;
    font-size: 25px;
    position: fixed;
}

.link{
    display: flex;
    background-color: black;
    color: aliceblue;
    padding: 10px 15px;
    gap: 5px;
    transition: all 1.5s;
}

.linkDropdown{
    display: flex;
    background-color: black;
    color: aliceblue;
    padding: 10px 5px;
    gap: 5px;
    transition: all 1.5s;
}

.subLink{
    display: flex;
    color: blue;
    padding: 10px 15px;
    transition: all 0.5s;
}

.link:hover{
    background: aquamarine;
    color: #000;
    transition: all 0.5s;
}

.active{
    background: rgb(58, 53, 53);
    color: #000;
}

.icon, .link_text{
    font-size: 20px;
}
.row_academico_card{
    padding: 10px 0px;
}

.opcion_simple_separador{
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}
.opcion_simple{
    background: black;
    color: white;
    font-size: 20px;

}












.scrollbar_sidebar{
    width: 10px;
    height: 100%;
}

.sidebar_item{
    display: flex;
    flex-direction: column;
}

.sidebar-item{
    display: flex;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 10px;
    font: 18px sans-serif;
}
.tamaño_icon{
    color:black;
    font-size: 25px;
}
.tamaño_font{
    margin-left: 5px;
    color:black;
    font: 18px sans-serif;
}

.sidebar-title_varios{
    margin-right: 10px;
}
.sidebar-title_final{
    display: flex;
    margin-right: 10px;
    margin-left: 20px;
    padding-top: 10px;
    color: black;
}


.sidebar-item.open > .sidebar-title .toggle-btn{
    transform: rotate(180deg);
  }
  .sidebar-content{
    display: flex;
    flex-direction:column;
    height: 0;
    overflow: hidden;
  }
  .sidebar-item.open > .sidebar-content{
    height: auto;
  }
  
 