
  
  .fichas{
    border: 1px solid #D8D8D8;
    background: #F5F5F5;
    padding: 3vh 4vh;
    overflow: auto;
  }
  
  
  
  .fichas-item{
    border: 1px solid #D8D8D8;
    background: white;
    margin-bottom: 3vh;
    padding-bottom: 30px;
  }
  .fichas-item2{
    background: white;
    border: 1px solid #D8D8D8;
    padding-bottom: 30px;
    display: block;
  }
  .fichas-item3{
    background: white;
    border: 1px solid #D8D8D8;
    padding-bottom: 30px;
    display: block;
  }
  .fichas-reportes{
    border: 1px solid #D8D8D8;
    background: #F5F5F5;
    
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
  }
  
  .fichas-title{
    display: flex;
    font-size: 1.2em;
    justify-content: space-between;
  }
  .fichas-title span i{
    display: inline-block;
  }
  .fichas-title .toggle-btn-fichas{
    cursor: pointer;
    transition: transform .3s;
  }
  .fichas-item.open > .fichas-title .toggle-btn-fichas{
    transform: rotate(180deg);
  }
  .fichas-content{
    height: 0px;
    margin: 0vh 3vh;
    overflow: hidden;
  }
  .fichas-item.open > .fichas-content{
    height: auto;
  }

  .contenido_fichas{
    padding-top: 2vh;
    justify-content: center;
  }
  
  .fichas-item.plain{
    text-decoration: none;
  }
  .fichas-item.plain:hover{
    text-decoration: underline;
  }
  .fichas-item.plain i{
    display: inline-block;
  }

  .fichas-item2.open > .fichas-title .toggle-btn-fichas{
    transform: rotate(180deg);
  }

  .fichas-item2.open > .fichas-content{
    height: auto;
  }

  .fichas-item2.plain{
    text-decoration: none;
  }
  .fichas-item2.plain:hover{
    text-decoration: underline;
  }
  .fichas-item2.plain i{
    display: inline-block;
  }

  .fichas-item3.open > .fichas-title .toggle-btn-fichas{
    transform: rotate(180deg);
  }

  .fichas-item3.open > .fichas-content{
    height: auto;
  }

  .fichas-item3.plain{
    text-decoration: none;
  }
  .fichas-item3.plain:hover{
    text-decoration: underline;
  }
  .fichas-item3.plain i{
    display: inline-block;
    width: 1.7em;
  }

  .fichas-reportes.plain{
    text-decoration: none;
  }
  .fichas-reportes.plain:hover{
    text-decoration: underline;
  }
  .fichas-reportes.plain i{
    display: inline-block;
  }