
.container_info_registro{ 
    width: 113%;
}


.generar_nuevo_reporte{
    justify-content: center;
    height: 60px;
}
.boton_nuevo_registro{
    height: 50px;
    width: 100%;
    border: 2px solid rgba(229,41,67,255);
    background: white;
    color: rgba(229,41,67,255);
    font-size: 13pt;
    border-radius: 25px;
    font-weight: bold;
}
.boton_nuevo_registro_pequeño{
    height: 30px;
    width: 100%;
    border: 1px solid rgba(229,41,67,255);
    background: white;
    color: rgba(229,41,67,255);
    font-size: 10pt;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

.borde_redondo{
    background: rgba(30,195,196,255);
    border-radius: 100%;
}

.titulo_riesgos{
    border: 2px solid rgba(30,195,196,255);
    text-justify: center;
    text-align: center;
    color: rgba(30,195,196,255);
    background: white;
}
.titulo_riesgos_pequeño{
    text-justify: center;
    text-align: center;
    color: rgba(30,195,196,255);
    background: rgb(255, 165, 165);
}
.text_center{
    text-align: center;
}

.tipos_riesgos{
    background: rgba(30,195,196,255);
    padding: 10px 5px;
    color:white;
}
.center_tipos_riesgos{
    text-align: center;
    text-justify: center;
    justify-content: center;
    align-content: center;
}

.button_tipo_riesgo_alto{
    background: rgba(229,41,67,255);
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}
.button_tipo_riesgo_medio{
    background: rgba(249,182,27,255);
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}
.button_tipo_riesgo_bajo{
    background: rgba(65,174,27,255);
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}
.button_tipo_riesgo_alto_2{
    text-align: center;
    padding-top: 5px;
    z-index: 2;
    border:1px solid white;
    font-size: 20pt;
    background: rgba(247,94,120,255);
    color: rgba(235,44,74,255);
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.button_tipo_riesgo_medio_2{
    text-align: center;
    padding-top: 5px;
    z-index: 2;
    border:1px solid white;
    font-size: 20pt;
    background: rgba(255,205,80,255);
    color: rgba(255, 183, 0, 1);
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.button_tipo_riesgo_bajo_2{
    text-align: center;
    z-index: 2;
    border:1px solid white;
    font-size: 20pt;
    background: rgba(116,206,76,255);
    color: rgba(56,172,6,255);
    padding-top: 5px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.button_tipo_riesgo_alto_2_pequeño{
    text-align: center;
    padding-top: 6px;
    z-index: 2;
    border:1px solid white;
    font-size: 15pt;
    background: rgba(247,94,120,255);
    color: rgba(235,44,74,255);
    width: 45px;
    height: 45px;
    border-radius: 100%;
}
.button_tipo_riesgo_medio_2_pequeño{
    text-align: center;
    padding-top: 6px;
    z-index: 2;
    border:1px solid white;
    font-size: 15pt;
    background: rgba(255,205,80,255);
    color: rgba(255, 183, 0, 1);
    width: 45px;
    height: 45px;
    border-radius: 100%;
}
.button_tipo_riesgo_bajo_2_pequeño{
    text-align: center;
    padding-top: 6px;
    z-index: 2;
    border:1px solid white;
    font-size: 15pt;
    background: rgba(116,206,76,255);
    color: rgba(56,172,6,255);
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.button_tipo_riesgo_alto_texto{
    background: rgba(247,94,120,255);
    color: white;
    margin-top: 17px;
    width: 100%;
    height: 30px;
    border-radius: 15px;
}
.button_tipo_riesgo_medio_texto{
    background: rgba(255,205,80,255);
    color: white;
    margin-top: 17px;
    width: 100%;
    height: 30px;
    border-radius: 15px;
}
.button_tipo_riesgo_bajo_texto{
    z-index: 1;
    background: rgba(116,206,76,255);
    color: white;
    margin-top: 17px;
    padding-left: 10px;
    width: 100%;
    height: 30px;
    border-radius: 15px;
}
.button_tipo_riesgo_alto_texto_pequeño{
    font-size: 9pt;
    background: rgba(247,94,120,255);
    color: white;
    padding-top: 6px;
    margin-top: 12px;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    font-weight: bold;

}
.button_tipo_riesgo_medio_texto_pequeño{
    font-size: 9pt;
    background: rgba(255,205,80,255);
    color: white;
    padding-top: 6px;
    margin-top: 12px;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    font-weight: bold;

}
.button_tipo_riesgo_bajo_texto_pequeño{
    font-size: 9pt;
    z-index: 1;
    background: rgba(116,206,76,255);
    color: white;
    padding-top: 6px;
    margin-top: 11px;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    font-weight: bold;
}
.borde_riesgos_alto{
    padding: 2px 2px;
    border: 1px solid rgba(232,36,70,255);
    border-radius: 100%;
}
.borde_riesgos_medio{
    padding: 2px 2px;
    border: 1px solid rgba(255,205,80,255);
    border-radius: 100%;
}
.borde_riesgos_bajo{
    padding: 2px 2px;
    border: 1px solid rgba(56,172,6,255);
    border-radius: 100%;
}
.borde_riesgos_alto_pequeño{
    padding: 2px 2px;
    border: 1px solid rgba(232,36,70,255);
    border-radius: 100%;
}
.borde_riesgos_medio_pequeño{
    padding: 2px 2px;
    border: 1px solid rgba(255,205,80,255);
    border-radius: 100%;
}
.borde_riesgos_bajo_pequeño{
    padding: 2px 2px;
    border: 1px solid rgba(56,172,6,255);
    border-radius: 100%;
}

.riesgos{
    margin-top: 10px;
    margin-left: 20px;
}
.riesgos_fondo_claro{
    background: rgba(151,234,242,255);
    padding-bottom: 30px;
}
.riesgos_pequeño{
    margin-top: 20px;
    background: rgba(151,234,242,255);
}

.row_riesgo{

    margin-top: 20px;
    margin-left: 20px;
}

.columna_boton_riesgo{
    width: 25px;
    height: 25px;
    background: yellowgreen;
}

.texto_alto{
    font-size: 8pt;
    margin-top: 6px;
    margin-left: 4px;
}

.texto_medio{
    font-size: 8pt;
    margin-top: 6px;
    margin-left: 4px;
}

.texto_bajo{
    font-size: 8pt;
    margin-top: 6px;
    margin-left: 4px;
}
