.container_informacion_general{
    display: flex;
    margin: 2% 0%;
}

.columna_informacion_general{
    font: 100% sans-serif;
    margin: 2% 2%;
    padding: 2% 2%;
    width: 50%;
}

.row_flex_general{
    margin-top: 20px;
    border-bottom: 1px solid gainsboro;
} 

.col_adicionar_parentesco{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.adicionar_parentesco{
    background: none;
    border: none;
    font-size: 25pt;
}