.containerSelector{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
}

.containerTabs{
    background: yellow;
}

.tabs{
    background: white;
}

.tab{
    font-weight: bold;
    font-size: 14pt;
    background: rgba(238,238,238,255);
    color: rgba(171,171,170,255);
}

.tabs_border{
    margin: 10px 0px;
    padding: 10px 10px;
    background: rgba(238,238,238,255);
}

.tab_separador{
}

.activeTab{
    padding: 20px 20px;
    background: lightgray;
    color: #000;
}

.linkSelector{
    display: flex;
    background-color: black;
    color: aliceblue;
    padding: 10px 15px;
    gap: 5px;
    transition: all 1.5s;
}

.activeSelector{
    background: lightcoral;
    color: #000;
}

.contentTab{
    margin: 20px 0px;
    padding: 20px 20px;
    background: lightgray;
    color: black;
}


.tab_bloqueado_externo{
    margin: 10px 0px;
    padding: 10px 10px;
    background: rgba(119,119,119,255);
}

.tab_bloqueado{
    font-weight: bold;
    font-size: 14pt;
    color: rgba(119, 119, 119, 0.041);
    background: rgba(119,119,119,255);
    color: rgba(71,171,170,255);
}
