* {
    box-sizing: border-box;
    font-family: 'Manrope';
}
.z_index_2{
    z-index: 1;
}
body {
    margin: 0;    
}

.containerRow{
}




.row1{
}
.col1{
}
.infoRow1{
}
.infoRow2{
    margin-top:20px;
}

.infoRow2_pequeño{
    margin: 0px 0px;
    background: white;
}
.col2{    
    word-break: break-all;
}
.col3{
    color: rgba(218, 218, 218, 255);
    text-align: center;
    justify-content: center;
    font-size: 20vh;
    height: 35vh;
    background: white;
}
.foto{
    color: rgba(151,234,242,255);
    width: 100%;
}
.col3_pequeño{
    color: rgba(218, 218, 218, 255);
    text-align: center;
    justify-content: center;
    font-size: 10vh;
    background: white;
    height: 20vh;
    margin-bottom: 10px;
}

.col_2017{
    height:100%;
    text-align:bottom;
    align-content:bottom;
    padding-top: 30px;
}


.row2{
    width: 100%;
    display: flex;
}



.rowJustFlex{
    display: flex;
}
.rowJustFlex_to_right{
    display: flex;
    justify-content: right;
}
.justigy_content_right{
    justify-content: right;
}
.rowJustFlex_column{
    justify-content: right;
    display: flex;
    flex-direction: column;
}
.select_tipo_doc{
    width: 100%;
    background: rgb(99, 99, 99);
}
.justMargin2{
}

.info_basica_borde{
    padding: 20px 20px;
    background: rgb(218, 218, 218);
}
.info_basica_borde_pequeño{
    padding-top: 20px;
    background: rgb(218, 218, 218);
}

.primera_row_pequeña{
    padding: 0px 20px;
    margin: 20px 0px;
}





.fondo_blanco{
    background: white;
}
.infoRow23_activo{
    font-size: 8pt;
    padding-top: 2px;
    height: 30px;
    color: white;
    background: rgba(65,174,27,255);
}
.infoRow23_inactivo{
    font-size: 8pt;
    padding-top: 2px;
    height: 30px;
    color: white;
    background: gray;
}
.infoRow23_finalizado{
    font-size: 8pt;
    padding-top: 2px;
    height: 30px;
    color: white;
    background: rgba(30,195,196,255);
}
.infoRow3{
    
    justify-content: space-between;
    width: 100%;
    display: flex;
}

.infoSelect{
}

.infoRowInterno{
    width: 70%;
    background: hotpink;
    display: flex;
}

.info{
    padding-top: 20px;
    word-break: break-all;
}
.info_pequeño{
    padding: 0px 0px;
    word-break: break-all;
}
.info_texto{
    word-break: break-all;
    text-align: center;
    height: 20px;
    border-left: 2px solid #878787;
}
.info_texto_pequeño{
    word-break: break-all;
    text-align: center;
    height: 20px;
    width: 100%;
}.info_texto_cedula_pequeño{
    word-break: break-all;
    text-align: center;
    height: 20px;
    width: 100%;
}

.info_basica_selector{
    color: white;
    background: #878787;
}


.colInfo1{
}
.colInfo2{
    width: 30%;
}

.colMarcados{
    display: flex;
    width: 80%;
}

.buttonRiesgos{
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 100%;
}

.prueba1{
}

.rowPrueba1{
    background: black;
    color: white;
}

.rowPrueba2{
    background: blue;
}

.selectPequeño{
    width: 10%;
}

.texto_estatico{
    text-align: center;
    text-justify: center;
    align-content: center;
    justify-content: center;
}
.texto_estatico_pequeño{
    font-size:14pt;
    text-align: center;
    text-justify: center;
    align-content: center;
    justify-content: center;
}

.texto_estatico_ficha{
    padding-left: 20px;
    padding-top: 90px;
}
.botones_info_basica_pequeña{
    padding: 0px 10px;
}

.boton_editar_info_basica{
    border-radius: 18px;
    background: rgba(218, 218, 218, 255);
    color: rgb(135, 135, 135);
    font-size: 7pt;
    font-weight: bold;
    border: 1px solid rgb(135, 135, 135);;
    width: 100%;
    height: 30px;
    margin-bottom:10px;
}







.el_texto_mas_pequeño{
    font-size: 3pt;
}
.texto_mas_pequeño{
    font-size: 8pt;
}

.texto_pequeño{
    font-size: 14pt;
}
.texto_pequeño_gris{
    font-size: 14pt;
    color:gray;
}

.texto_subtitulo{
    color: rgba(229,41,67,255);
    margin-top: 5px;
    font-weight: bold;
    font-size: 18pt;
}
.texto_subtitulo2{
    font-size: 18pt;
}

.texto_titulo{
    font-size: 36pt;
}
.texto_titulo_bold{
    font-size: 36pt;
    font-weight: bold;
}

.bold{
    font-size: 14pt;
    font-weight: bold;
}
.bold_pequeño{
    font-size: 8pt;
    font-weight: bold;
}
.bold_select{
    font-size:14pt;
    font-weight: bold;
    width: 100%;
    padding-right:20px;
}
.bold_select_pequeño{
    font-size:14pt;
    font-weight:bold;
    width:100%;
    padding:0px 20px;
}



.ficha_footer{
    margin-bottom: 30px;
}
.ficha_footer_pequeña{
    margin-top: 20px;
    background: white;
}








.row_prueba{
}

.contenido_children{
    margin-left: 3%;
    margin-right: 3%;
}