* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
}

.containerRow{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-right: 2%;
    width: 100%;
    background: white;
}



.row1{
    border: 10px;
    font: 100% sans-serif;
    width: 100%;
    padding: 5px 5px;
    display: flex;
    background: #dfdfdf;
    justify-content: space-between;
}
.col1{
    

    width: 70%;
    padding: 1% 2%;
    background: #dfdfdf;
}
.infoRow1{
    background: #dfdfdf;
    width: 100%;
    height: 30%;
    display: flex;
}
.infoRow2{
    margin-top: 50px;
    height:10%;
}
.col2{
    
    width: 10%;
    background: #dfdfdf;
}
.col3{
    

    width: 20%;
    background: white;
}



.row2{
    font: 100% sans-serif;
    background: #dfdfdf;
    width: 100%;
    padding: 2% 2%;
    display: flex;
}



.rowJustFlex{
    display: flex;
}
.rowJustFlex_to_right{
    display: flex;
    justify-content: right;
}
.justigy_content_right{
    justify-content: right;
}
.rowJustFlex_column{
    justify-content: right;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}
.justMargin1{
    margin-top:20%;
}
.justMargin2{
    margin: 10% 20%;
}

.info_basica_borde{
    background: #dfdfdf;
    border: 3px solid lightgrey;
    padding: 10px;
    border-radius: 20px;
}








.generar_nuevo_reporte{
    margin-left: 20px;
    height: 80px;
}

.infoRow23{
    border-radius: 10px;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    background: gray;
    justify-content: space-between;

}
.infoRow3{
    justify-content: space-between;
    width: 100%;
    padding: 5px 5px;
    margin: 5% 5%;
    display: flex;
    background: #dfdfdf;
}

.infoSelect{
    margin: 2% 2%;
}

.infoRowInterno{
    padding: 0% 2%;
    width: 70%;
    background: hotpink;
    padding-top: 0%;
    display: flex;
}

.info{
    word-break: break-all;
    width: 50%;
    margin: 0px 5px;
    padding: 0px 10px;
}
.info_text{
    word-break: break-all;
    width: 100%;
}
.info_basica_selector{
    width: 30%;
    margin: 0px 5px;
    padding: 0px 10px;
}


.colInfo1{
    width: 70%;
}
.colInfo2{
    width: 30%;
}

.colMarcados{
    display: flex;
    width: 80%;
}

.buttonRiesgos{
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 100%;
}


.rowPrueba1{
    background: black;
    color: white;
}

.rowPrueba2{
    background: blue;
}

.selectPequeño{
    width: 10%;
}
