.containerSelector{
    display: flex;
    margin-top: 3%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 2% 2%;
    width: 100%;
    background: lightgrey;
}

.containerTabs{
    width: 100%;
    background: burlywood;
}

.tab{
    border: 2px solid black;
    margin: 0% 5%;
    padding: 2% 2%;
    width: 100%;
    background: gray;
}

.linkSelector{
    display: flex;
    background-color: black;
    color: aliceblue;
    padding: 10px 15px;
    gap: 5px;
    transition: all 1.5s;
}

.activeSelector{
    background: lightcoral;
    color: #000;
}