/* Asegúrate de que el contenedor principal ocupe toda la pantalla */
.asis-all-background {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 227, 225);
}

.asis-form-div {
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  width: 50vw;
  border-style: double;
  background-color: white;
}

.asis-title {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: 800;
}

.asis-subtitle {
  text-align: left;
  font-size: 1.2rem;
  /* margin-top: 1rem; */
  font-weight: 600;
}
