<html>
    <head>
        <title>Pruebas HTML</title>
    </head>
    <body>
        <h1>CARGA</h1>
        <br>
        <h2>SELECCION DE CARGA</h2>
        <br>
        <form action="carga/" method="post" id="form_carga" enctype="multipart/form-data">
            {% csrf_token%}
            <label>Tipo de carga</label>
            <select id="tipo_de_carga" name="tipo_de_carga" form="form_carga">
                <option value="Estudiantes">Estudiantes</option>
                <option value="Usuarios">Usuarios</option>
                <option value="Materias">Materias</option>
                <option value="Notas">Notas</option>
                <option value="Resolución">Resolución</option>
                <option value="Programa">Programa</option>
                <option value="Retiros">Retiros</option>
            </select>
            <label>Archivo</label>
            <input type="file" name="my_file">
            <input type="submit" value="enviar">
        </form>
        <br>
    </body>
</html>