Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-environ
psycopg2-binary
pandas
django_otp
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client