
/* registro_estudiante.css */
.registro-estudiante-container {
  background-image: url('../../modulos/campus_diverso/utils/images/form-background.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  width: 100% !important;
  min-height: 100vh !important; /* Asegura que cubra al menos toda la altura de la vista */
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: #070707; /* Ajusta el color del texto para que sea visible sobre la imagen */
}

.registro-estudiante-form {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px; /* Ajusta según necesites */
  box-sizing: border-box;
  text-align: left;
}

.label {
    color: #3d3d3d;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .error {
    color: red;
    font-family: sans-serif;
    font-size: 12px;
    height: 30px;
  }
  .submitButton {
    background-color: #6976d9;
    color: rgb(187, 12, 12);
    font-family: sans-serif;
     font-size: 14px;
    margin: 20px 0px;
  }

  .form-column {
   
    padding: 10px;
  }

  .input-updated {
    border: 0.1px solid #d9d9d9 !important;
    border-radius: 4px;
    box-sizing: border-box;    
    padding: 7px;
    width: 100%;
    height: auto;
  }
  
  .textarea {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box; /* Corrección de "borerd-box" a "border-box" */
    padding: 20px;
    width: 90%;
    height: auto; /* Usar 'auto' para permitir que el textarea ajuste su altura según el contenido */
  }

 /* Descontinuado para el select*/
  .form-react-select {
    border-radius: 1px;
    width: 100%;
    height:60% !important; 
    min-height: 40px !important;
    padding: 1px !important;
    margin: 1px !important;
    
  }

  
  .create-select-grande {
    width: 100%;
    height: auto;
    float: right;
    color: #000;
    
    [class$="ValueContainer"] {
        min-height: 35px !important;
        height: auto !important;
        max-height: 50px; /* Altura máxima permitida */
        overflow-y: auto; /* Permitir scroll si se excede la altura máxima */
    }

    [class$="IndicatorsContainer"] {
        min-height: 38px !important;
        height: auto !important;
        max-height: 60px; /* Altura máxima permitida */
        overflow-y: auto; /* Permitir scroll si se excede la altura máxima */
    }

    [class$="-Input"] {
        min-height: 18px !important;
        height: auto !important;
        max-height: 48px; /* Altura máxima permitida */
        overflow-y: auto; /* Permitir scroll si se excede la altura máxima */
    }

    [class$="-control"] {
        min-height: 38px !important;
        height: auto !important;
        max-height: 88px; /* Altura máxima permitida */
        overflow-y: auto; /* Permitir scroll si se excede la altura máxima */
    }
}

.create-select {
  width: 100%;
  color: #000;
 
  [class$="IndicatorsContainer"] {
      min-height: 38px !important;
      max-height: 28px;
  }
  [class$="-Input"] {
      min-height: 28px !important;
      max-height: 18px !important;
  }

}



  .custom-div {
    width: 100%; 
    height: 90%; 
    font-size: 16px; 
    padding-top: 3px;
    }

    .boton-container {
      display:block ; /* Habilita el diseño flexible */
      padding: 8px;
      margin-top: 10px;
    }
  

    .div-search {
      width: 120%; 
      height: auto; 
      font-size: 16px; 
      padding-top: 15px;
      position: relative;
      left: -70px; /* Ajusta este valor según sea necesario */
      }
  
  
 
    
      .div-search {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        font-family: 'Arial', sans-serif; /* Cambia la fuente aquí */
      }
      
      .search-input {
        width: 110%;
        height: auto;
        padding: 15px; /* Hacer el input un poco más grande */
        margin-bottom: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        margin: 0 ;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    
      .title-search{
          text-align: left;
          font-size: 2.5rem;
          margin-bottom: 20px;
          margin-left: 10px;
          margin-top: 15px;
          color: #090909;
          letter-spacing: 1.1px;
          font-family: sans-serif; /* Cambia la fuente aquí */
       
      
      }
      .result-count {
        font-size: 14px;
        margin-bottom: 10px;
        color: #555;
      }
      
      .user-list {
        list-style: none;
        padding: 0;
      }
      
      .list-item {
        position: relative;
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
      }
      
      .list-item:hover {
        background-color: #e9e9e9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
      
      .user-name {
        font-size: 18px;
        margin: 0;
        color: #333;
      }
      
      .user-email {
        font-size: 14px;
        margin: 5px 0 0 0;
        color: #777;
      }
      


    .div-modal{
      word-wrap: break-word;
      border: 1px solid #d9d9d9;
      padding: 3px;
      margin: 8px;
      margin-bottom: 10px;
      padding: 15px; 
      margin: 10px 0; 
      background-color: #f9f9f9; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);       border: 1px solid #d9d9d9;

      border-radius: 8px; 
      font-family: 'Arial', sans-serif; 
      font-size: 16px; 
    }

    .div-observacion{
      text-align: justify;
      text-justify: inter-word; 
      word-wrap: break-word;
    
    }

    .modal-content {
      border-radius: 10px;
      box-shadow: 2px 2px 5px rgba(236, 6, 6, 0.1);
    }
    
    .title-modal{
      margin-left: 15px;
      
    }

    .ul-style{
        padding-left: 20px; 
        list-style-type: none; 
      
    }

    .li-style {
      margin-bottom: 15px; 
      padding: 8px; 
      border: 1px solid #ececec; 
      background-color: #ffffff; 
      border-radius: 5px; 
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
      margin-top: 15px;
    }

    .custom-modal-header .btn-close {
      position: absolute;
      top: 10px; 
      right: 10px; 
      font-size: 1.2rem; 
      color: #000; 
      opacity: 1; 
    }
    .custom-modal-header {
      display: flex;
      justify-content: center; 
      position: relative;
    }


    .title-banner {
      background-color: #f0f0f0; 
      padding: 20px; 
      text-align: center; 
      width: 100%; 
      box-sizing: border-box; 
      margin-bottom: 20px; 
      border-radius: 4px; 
    }
    
    .title-banner h1 {
      margin: 0; 
      font-size: 24px; 
      color: #333; 
    }
    
    .alert-style {

      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index:999;
      min-width: 300px;

    }



    .button-inicial {
      margin: 10px;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
     
    }
    
    .button:disabled {
      background-color: #cccccc;
    }

    .buttons-container {
      display:flex;
      justify-content: center; /* Centrar horizontalmente */
      align-items: center; /* Centrar verticalmente */
      height: 100%; /* Asegúrate de que el contenedor ocupe toda la altura disponible */
    }

    .buttons-container-captcha {
      display:flex;
      flex-direction: column;
      align-items: center; /* Centrar verticalmente */
      height: 100%; /* Asegúrate de que el contenedor ocupe toda la altura disponible */
    }
    .recaptcha-container {
      margin-bottom: 20px; /* Espacio entre el reCAPTCHA y los botones */
    }
    .modal-seguimiento {
      position: absolute;
      left: 14px; /* Ajusta este valor según sea necesario */
    }

  
    .input-container {
      position: relative;
    
    }
    
    .char-count {
      font-size: 0.8em; /* Tamaño de fuente pequeño */
      color: #888;
      margin-top: 0; /* Espacio entre el input y el contador */
      display: block; /* Asegura que el contador aparezca en una nueva línea */
    }


    .custom-div-check {
      display: flex;
      align-items: center;
      padding: 4px ;

      margin-top: 60px;
      margin-right: 30px;
      justify-content: space-between; 
    }

    /* Estilos para los checkbox */
    
    .custom-div-check-documentos {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-right: 30px;
      justify-content: space-between; 
    }

    .custom-checkbox-label {
      font-size: 1em;
      color: #333;
      white-space: normal;
      word-wrap: break-word;
      text-align: justify;

    }
    
    .custom-checkbox {
      position: relative;
      width: 15px;
      height: 15px;
      cursor: pointer;
      margin-left: 35px;
      
    }
    
    .custom-checkbox input {
      opacity: 0;
      width: 60%;
      height: 60%;
    }
    
    .custom-checkbox .checkmark {
      position:absolute;
      top: 0;
      bottom: 26%;
      left: 0;
      height: 22px;
      width: 22px;
      background-color: #eee;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
    
    .custom-checkbox input:checked + .checkmark {
      background-color: #4CAF50;
      border-color: #4CAF50;
    }
    
    .custom-checkbox .checkmark:after {
      content: "";
      position: absolute;
      display:flex;
    }
    
    .custom-checkbox input:checked + .checkmark:after {
      display: block;
    }
    
    .custom-checkbox .checkmark:after {
      left: 5px;
      top: 2px;
      width: 10px;
      height: 15px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
    

    .check-div {   
      display: 'flex';
      align-items:'center';
    }

 
  /* Estilos del indicador de usuario nuevo*/
    .new-user {
      font-weight: bold;
    }
    
   
    .new-indicator {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      font-size: 24px; /* Tamaño más grande para el signo de admiración */
      color: red;
      font-weight: bold;
    }



    .tooltip-icon {
      position: relative;
      display: inline-block;
      margin-left: 8px;
      color: #ff0000; /* Cambia el color según tu preferencia */
      cursor: pointer;
      font-weight: bold;
    }
    
    .tooltip-icon:hover .tooltip-text {
      visibility: visible;
      opacity: 1;
    }
    
    .tooltip-text {
      visibility: hidden;
      width: auto;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: auto; /* Ajusta esta propiedad según tu necesidad */
      left: 50%;
      margin-left: -100px;
      opacity: 0;
      transition: opacity 0.3s;
    }
    
    .tooltip-text::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
    