



label {
    color: #3d3d3d;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .error {
    color: red;
    font-family: sans-serif;
    font-size: 12px;
    height: 30px;
  }
  .submitButton {
    background-color: #6976d9;
    color: rgb(187, 12, 12);
    font-family: sans-serif;
     font-size: 14px;
    margin: 20px 0px;
  }

  .form-column {
   
    padding: 10px;
  }
 input[type="text"],
  input[type="checkbox"],
  input[type="number"],
  input[type="date"] {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: borerd-box;
    padding: 20px;
    width: 90%;
    height: 30px;
  }
  
  .form-select {
    display: block;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 10px;
    width: 90%;
    height: auto; 
  }
  .form-react-select {
    border-radius: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    height: auto; 
  }
  .custom-div {
    width: 100%; 
    height: auto; 
    font-size: 16px; 
    padding-top: 3px;
    }

    .boton-container {
      display:block ; /* Habilita el diseño flexible */
      padding: 8px;
      margin-top: 10px;
    }
  

    .div-search {
      width: 120%; 
      height: auto; 
      font-size: 16px; 
      padding-top: 15px;
      position: relative;
      left: -70px; /* Ajusta este valor según sea necesario */
      }
  
  
 
    
      .div-search {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        font-family: 'Arial', sans-serif; /* Cambia la fuente aquí */
      }
      
      .search-input {
        width: 110%;
        height: auto;
        padding: 15px; /* Hacer el input un poco más grande */
        margin-bottom: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        margin: 0 ;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    
      .title-search{
          text-align: left;
          font-size: 2.5rem;
          margin-bottom: 20px;
          margin-left: 10px;
          margin-top: 15px;
          color: #090909;
          letter-spacing: 1.1px;
          font-family: sans-serif; /* Cambia la fuente aquí */
       
      
      }
      .result-count {
        font-size: 14px;
        margin-bottom: 10px;
        color: #555;
      }
      
      .user-list {
        list-style: none;
        padding: 0;
      }
      
      .list-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
        margin-bottom: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: background-color 0.3s, box-shadow 0.3s;
      }
      
      .list-item:hover {
        background-color: #e9e9e9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
      
      .user-name {
        font-size: 18px;
        margin: 0;
        color: #333;
      }
      
      .user-email {
        font-size: 14px;
        margin: 5px 0 0 0;
        color: #777;
      }
      


    .div-modal{
      word-wrap: break-word;
      border: 1px solid #d9d9d9;
      padding: 3px;
      margin: 8px;
      margin-bottom: 10px;


      word-wrap: break-word;
      border: 1px solid #d9d9d9;
      padding: 15px; 
      margin: 10px 0; 
      background-color: #f9f9f9; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
      border-radius: 8px; 
      font-family: 'Arial', sans-serif; 
      font-size: 16px; 
    }

    .div-observacion{
      text-align: justify;
      text-justify: inter-word; 
      word-wrap: break-word;
    
    }

    .modal-content {
      border-radius: 10px;
      box-shadow: 2px 2px 5px rgba(236, 6, 6, 0.1);
    }
    
    .title-modal{
      margin-left: 15px;
      
    }

    .ul-style{
        padding-left: 20px; 
        list-style-type: none; 
      
    }

    .li-style {
      margin-bottom: 15px; 
      padding: 8px; 
      border: 1px solid #ececec; 
      background-color: #ffffff; 
      border-radius: 5px; 
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
      margin-top: 15px;
    }

    .custom-modal-header .btn-close {
      position: absolute;
      top: 10px; 
      right: 10px; 
      font-size: 1.2rem; 
      color: #000; 
      opacity: 1; 
    }
    .custom-modal-header {
      display: flex;
      justify-content: center; 
      position: relative;
    }


    .title-banner {
      background-color: #f0f0f0; 
      padding: 20px; 
      text-align: center; 
      width: 100%; 
      box-sizing: border-box; 
      margin-bottom: 20px; 
      border-radius: 4px; 
    }
    
    .title-banner h1 {
      margin: 0; 
      font-size: 24px; 
      color: #333; 
    }
    
    .alert-style {

      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index:999;
      min-width: 300px;

    }



    button {
      margin: 10px;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
     
    }
    
    button:disabled {
      background-color: #cccccc;
    }

    .buttons-container {
      display:flex;
      justify-content: center; /* Centrar horizontalmente */
      align-items: center; /* Centrar verticalmente */
      height: 100%; /* Asegúrate de que el contenedor ocupe toda la altura disponible */
    }