.col_background-campus {
  background-image: url("../../modulos/campus_diverso/components/imgs/BANNER-FOTO 02.png");
  background-size: cover;
  background-position: center top; /* Muestra más de la parte superior de la imagen */
  min-height: 300px;
  width: 70%;
  color: white;
}

.selector_reg {
  color: rgb(0, 0, 0);
}

.estilo_bienvenido_campus {
  font-weight: bolder;
  font-size: 3.5rem;
  /*background: linear-gradient(90deg, #fa0820, #f39e2f, #f7f705, #2ee20a, #1818eb, #a11498);*/
  background: rgb(158, 158, 158, 0.4);
  -webkit-background-clip: content-box;
  -webkit-text-fill-color: rgb(66, 161, 255);
  display: inline-block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), -2px -2px 4px rgba(0, 0, 0, 0.8);
  background-clip: content-box;
  color: rgb(66, 161, 255);
}

@media (max-width: 992px) {
  .estilo_bienvenido_campus {
    font-size: 2.5rem;
  }
}

.estilo_sesion_campus {
  font-weight: bolder;
  font-size: 3.5rem;
  /*background: linear-gradient(90deg, #fa0820, #f39e2f, #f7f705, #2ee20a, #1818eb, #a11498);*/
  background: rgb(158, 158, 158, 0.4);
  -webkit-background-clip: content-box;
  -webkit-text-fill-color: rgb(66, 161, 255);
  display: inline-block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), -2px -2px 4px rgba(0, 0, 0, 0.8);
  background-clip: content-box;
  color: rgb(66, 161, 255);
}

.estilo_como_campus {
  font-weight: bolder;
  font-size: 3.5rem;
  /*background: linear-gradient(90deg, #fa0820, #f39e2f, #f7f705, #2ee20a, #1818eb, #a11498);*/
  background: rgb(158, 158, 158, 0.4);
  -webkit-background-clip: content-box;
  -webkit-text-fill-color: rgb(66, 161, 255);
  display: inline-block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), -2px -2px 4px rgba(0, 0, 0, 0.8);
  background-clip: content-box;
  color: rgb(66, 161, 255);
  margin-bottom: 40%;
}

.botones-container-campus {
  display: flex;
  flex-direction: column; /* Cambiar la dirección de los elementos a columna */
  align-items: center;
  margin-top: 2%; /* Centrar horizontalmente los elementos */
  margin-left: 1%;
  gap: 1px;
}

.boton {
  height: 100%; /* Igual a la altura de la imagen */
  width: 90%; /* Igual al ancho de la imagen */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón por encima */
}
