.select_tabla_cantidad_seguimientos{
    font-size:10pt;
    font-weight: bold;
    width: 60px;
}

.center_tabla_sin_seguimientos{
    align-content: center;
    text-align: center;
    word-break: break-all;
    margin-left: 5px;
}


.div_tabla_filtro{
  padding-left:15px;
}




